doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Grunt Extended Demo
    link(rel="stylesheet", href="css/style.css")
  body
    h1 Welcome to Grunt!
    p This is an extended demo of Grunt.
    script(src="js/main.min.js")